body {
  margin: 0;
 background-image: url('Assets/background-image.png');
 background-color: #262626;
  font-family: 'Iceberg', sans-serif;
  color : aliceblue;
  overflow-x: hidden;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.margin-left{
  margin-left: 0.5em;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.center{
  justify-items: center;
}

svg{
  width: 50%;
  opacity: 1;
  color : black ;
}

.margin-right{
  margin-right: 100px;
}

.margin-top{
  margin-top: 5dvh ;
}

.sub-titles{
  font-size: 3em;
  margin-top: 10dvh;
  z-index: 1;
}

.width-50{
  width: 50%;
}

.width-35{
  width: 35%;
}

.margin-test{
  margin-top: 65dvh;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 4dvh solid transparent;
  border-right: 5dvh solid transparent;
  border-top: 10dvh solid aliceblue;
  transform: rotate(153deg);
  display: flex;
  justify-self: flex-end;
  margin-right:50dvh;
  margin-top: -20dvh;
}




/* → -------------- NAVBAR   ---------- */

nav {
  width: 100%;
  background-color: #262626;
  height: 4em;
}

#navbar{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between; 
  padding: 0 2em; 
}

/* Partie gauche 
(Logo + MyPortfolio) */ 

.circle{
  width: 2em;
  height: 2em;
  background-color: aliceblue;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#M{
  color:#262626
}

#L{
  color: #F6586D;
}

#content-MyPortfolio {
  display: flex;
  align-items: center;
  color: white;
  font-family: 'Jost', serif;
}

#text-MyPortfolio{
  font-size: 1em;
  text-decoration:underline ;
}

/* Partie droite 
(Liens) */ 

.nav-links{
  display: flex;
  gap: 2em; 
}

.links{
  color :aliceblue;
  text-decoration: none;
  font-family: 'Istok Web', sans-serif;
  font-size: 1.2em;
}

.links:hover, .links.active{
  color:#F6586D ;
}


/* → -------------- MAIN   ---------- */

.myName{
  text-align: center;
  margin-top: 1em;
  font-size: 8em;
  text-shadow: 2px 2px 4px black;
}

#sub-line-name{
  margin-top : -10dvh;
}

#lune{
  position : relative;
  left: 80px;
  top: -470px;
  margin-bottom: -40dvh;
}

#love{
  display: flex;
  justify-self: flex-end;
  margin-right: 1em;
  font-size: 7em;
  opacity: 0.4;
  position : relative;
  top : -2.8em;
  text-shadow: 2px 2px 4px aliceblue;
  margin-bottom: -2em;
  overflow-x: hidden;
}

.line{
  width: 80dvh;
  height: 0.5dvh;
  background-color: aliceblue;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialContainer {
  width: 7dvh;
  height: 7dvh;
  display: flex;
  border-radius: 5dvh;
  align-items: center;
  transition-duration: .5s;
}

.socialContainer:hover {
  background-color: #F6586D;
  transition-duration: .5s;
}

svg{
  width: 10dvh;
}

#arrow{
  width: 3em;
  animation : bounce 1s ease-in-out infinite;
  position: relative;
  display: flex;
  justify-self: center;
  margin-top: -55dvh;
}

@keyframes bounce {
  0%{
    top : 2em;
  }
   
  50% {
    top: 3em;
  }

  100% {
    top: 2em;
  }
}

/* email */ 

.email-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  background: transparent;
  border-radius: 2dvh;
  border: 3px dashed aliceblue;

  color: aliceblue;
  position: relative;
  width:70dvh;
  height: 5dvh;
  font-family: 'Iceberg', sans-serif;
}

.email-btn:hover {
  color: black;
  transition-delay: 0.1s;
}

.email-btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: aliceblue;
  transition: 0.2s ease;
  z-index: -1;
  border-radius: 2dvh;
}

.email-btn:hover::after {
  height: 100%;
  transition-delay: 0.05s;
  color: aliceblue;
}

/* Zone profil */

#technologies-line{
  width: 25em;
  margin-left: 1em;
  margin-top: -9dvh;
  height: 1em;
  border-radius: 0%;
  background-color: #F6586D;
  z-index: -1;
}


/* Technologies */

.technologies{
  filter: brightness(1.3);
  filter: invert(0.88);
  width: 20dvh;
  height: 20dvh;
  display: flex;
  justify-self: center;
}

.technologies:hover{
  filter: grayscale(1);
  filter: invert(0) ;
}

#exception-tooltip{
  filter: brightness(10);
}

#exception-tooltip:hover{
  filter:brightness(1);
  filter: drop-shadow(10);
  filter: contrast(-5);
}

.tooltip {
  position: relative;
}

.tooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  background-color: aliceblue;
  color: black;
  padding: 5px 8px;
  border-radius: 5px;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.tooltip:hover::after {
  opacity: 1;
}

.container-technologies{
  position: relative;
  top : -79dvh;
  z-index: 1;
}

.frame{ /* Correspond au cadre */
  filter :brightness(5);
  z-index: -1;
}

#forest-font{
  width: 100%;
  filter: grayscale(1);
  filter: brightness(2);
  filter: saturate(0);
  opacity: 0.3;
  filter: blur(0.3em);
  position: relative;
  top : -600px;
}

.wave{
  width: 100%;
  margin-top: -50em;
  position: relative;
  top : -20em;
  filter:saturate(2);
  filter: blur(0.2em);
  height: 1300%;
  margin-bottom: -40dvh;
  filter: brightness(10);
}



#career-subline{
  width: 15em;
  margin-left: 2.2em;
  margin-top: -9dvh;
  height: 1em;
  border-radius: 0%;
  background-color: #F6586D;
  z-index: -1;
}

#career-line{
  margin-top: 20dvh;
  width: 50%;
  height: 2dvh;
  border-radius:20%;
  z-index: 2;
}

#career-circles{
  justify-content: space-around;
  padding-left: 40%;
  padding-right: 27%;
  z-index: 1;
  text-align: center;
}

#left-circle, #right-circle{
  width: 25dvh;
  height: 25dvh;
  margin-top: -12dvh;
  z-index: 1;
}

#text-career{
  z-index: 2;
  color: #F6586D;
}

#font-2{
  opacity: 20%;
  height: 40dvh;
  width: 150%;
  margin-top: -20dvh;
  display: flex;
  justify-self: center;
  margin-left: -250dvh;
}


/* */

#mcdo{
  width: 60dvh;
  z-index: 2;
}

#text-exp{
  font-size: 4dvh;
  margin-top: 12dvh;
  margin-left: 5dvh;
  color : black;
}

#mycareer{
  margin-right: -170dvh;
}

.margin-mcdo{
  position : relative;

}


.position-relative {
  position: relative;
}

#aliceblue-bloc {
    position: absolute;
    height: 50dvh;
    width: 100%;
    background-color: aliceblue;
    filter: blur(2dvh);
    z-index: -1;
    opacity: 0.3;
}